body {	
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
}

.greenbg {
	background-color: #71BB3E;
}

.header {
	z-index: 1000;
	height: 84px;
	position: fixed;
	top: 0;
	width: 100%;
}

.loggedout .header {
	height: 50vh;
}

.loggedout .header div {
	padding: 0 !important;
}

a.logo {
	text-indent: -1000px;
	display: block;
	width: 121px;
	height: 121px;
	border-radius: 60px;
	margin-top: 24px;
	margin-left: auto;
	margin-right: auto;
	background: url("../img/logo.png") white;
	background-size: 53px 101px;
	background-position: center center;
	background-repeat: no-repeat;
}

.loggedout a.logo {
	margin-top: 40vh;
	width: 20vh;
	height: 20vh;
	background-size: 9vh;
	border-radius: 10vh;
}

h1.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  color: white;
  margin-top: 28px;
  margin-left: 20px;
}

.loggedout h1.title {
	position: absolute;
 	font-size: 60px;
 	margin-left: auto;
 	margin-right: auto;
 	margin-top: 18vh;
 	width: 100vw;
 	text-align: center;
 	padding: 0;
}

ul.menu {
	list-style: none;
	margin-top: 28px;
}

ul.menu li {
	list-style: none;
	float: right;
	margin-right: 40px;
}

ul.menu li:first-child {
	margin-right: 0;
	margin-right: 15px;
}

.loggedout ul.menu li:first-child {
	display: none;
}

ul.menu li a {
	text-decoration: none;
	color: white;
	font-size: 16px;
}

.plantchooser {
	z-index: 500;
	margin-top: 100px;
}

.loggedout .plantchooser {
	visibility: hidden;
}

.plantchooser h2 {
	margin-left: 20px;
}

.plantchooser h3 {
	margin-left: 22px;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	display: block;
	clear: both;
}

.plantchooser ul {
	padding-left: 0;
	margin-bottom: 20px;
	display: table;
}

.plantchooser ul li label {
	position: relative;
	top: 0;
	padding-bottom: 30px;
}

.plantchooser ul li label img {
	border: 1px solid #DADBD9;
	border-radius: 6px;
	overflow: hidden;
	display: block;
	width: 100%;
	height: auto;
	z-index: 50;
}

.plantchooser ul li label name {
	background-color: rgba(16,34,16,0.7);
	height: 48px;
	display: block;
	position: relative;
	color: white;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	z-index: 51;
	margin-top: -49px;
	margin-left: 1px;
	margin-right: 1px;
	font-weight: 400;
	font-size: 16px;
	padding-left: 20px;
	padding-top: 12px;
}

.plantchooser ul li input[type="checkbox"] {
	margin-left: 40%;
	margin-top: -10px;
	width: 18px;
	height: 18px;
	position: absolute;
	bottom: 10px;
}

.plantchooser ul li input[type="checkbox"] + label {
	border: 1px solid transparent;
	padding: 6px;
	border-radius: 10px;
	background-color: transparent;
	padding-bottom: 32px;
	-webkit-animation-duration: 0.3s;
}

.plantchooser ul li input[type="checkbox"]:checked + label {
	border: 1px solid #71BB3E;
	background-color: rgba(113, 187, 65, 0.25);
}

.plantchooserform input[type="submit"] {
	background-color: #FF8900;
	font-weight: bold;
	font-size: 16px;
	height: 48px;
	border-radius: 6px;
	box-shadow: none;
	border: none;
	color: white;
	width: 90%;
	margin-left: -10px;
	margin-top: 20px;
}

.plantchooserform h2 {
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	margin-left: 0;
}

.plantchooserform h3 {
	font-weight: normal;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 30px;
}

.plantchooserform .styledselect select {
   background: transparent;
   width: 268px;
   padding: 10px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }

.plantchooserform .styledselect {
   width: 90%;
   height: 36px;
   overflow: hidden;
   background: url(../img/selectarrow.png) no-repeat right #F1F2F0;
   background-size: 36px 36px;
   border-radius: 4px;
   font-family: 'Inconsolata';
   font-size: 16px;
   margin-left: -10px;
}

.plantchooserform input[type="checkbox"] {
	margin-right: 8px;
}

.plantchooserform label {
   	font-family: 'Inconsolata';
   	font-size: 16px;
	font-weight: normal;
}

.loginbutton {
	display: none;
}

.loggedout .loginbutton {
	display: block;
	margin-top: 65vh;
	text-align: center;
}

.loginbutton button {
	background-color: #FF8900;
	font-weight: bold;
	font-size: 20px;
	height: 60px;
	letter-spacing: 1px;
	border-radius: 6px;
	box-shadow: none;
	border: none;
	color: white;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 3vh;
}

.overlay {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1010;
}

.hiddenoverlay {
	visibility: hidden;
}

.infopopup {
	background: white;
	z-index: 1020;
	position: fixed;
	left: 20vw;
	top: 20vh;
	width: 60vw;
	height: 60vh;
	overflow: scroll;
	padding: 2vw;
}

.hiddeninfo {
	visibility: hidden;
}